<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>8-Column Data Table with Sidebar</title> -->
    <link rel="stylesheet" href="/css/student_list/student_list.css"> <!-- Link to your CSS file -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script>
        // Define a global variable to hold the student ID
        var hostURL = "{{ .host_url }}"

        console.log("hostURL: ",hostURL)
    </script>
</head>

<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <ul>
                <li><a href="#" class="admin-portal">Admin Portal</a></li>
                <!-- Other menu items -->
                <li><a href="/v1/student/list">Student List</a></li>
                <li><a href="#">School</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#" id="logout-button">Log Out</a></li>
            </ul>
        </div>
        
        <div id="logoutModal" class="modal">
            <div class="modal-content">
                <h2>Confirm Logout</h2>
                <p>Are you sure you want to log out?</p>
                <div class="modal-actions">
                    <button id="confirmLogoutBtn" class="popup-btn">Yes</button>
                    <button id="cancelLogoutBtn" class="popup-btn">No</button>
                </div>
            </div>
        </div>

        <!-- Main content area -->
        <div class="main-content">
            <div class="header">
                <h1>Students Enrollment List</h1>
                <button id="upload-button">Upload Data</button>
                <input type="file" id="file-input" accept=".csv" style="display: none;" />
            </div>

            <div class="search-container">
                <input type="text" id="search-box" placeholder="Search Text...">
                <select id="religion-filter">
                    <option value="">All Religions</option>
                </select>
                <select id="school-filter">
                    <option value="">All Schools</option>
                </select>
                <div class="dropdown">
                    <button id="filter-button" onclick="toggleDropdown()">Assistance</button>
                    <div class="dropdown-content" id="dropdown-content">
                        <label>
                            <input type="checkbox" name="option" value="fees"> Fees
                        </label>
                        <label>
                            <input type="checkbox" name="option" value="rentals"> Rentals
                        </label>
                        <label>
                            <input type="checkbox" name="option" value="upkeep"> Upkeep
                        </label>
                        <button type="button" onclick="fetchStudents()">Submit</button>
                    </div>
                </div>
            </div>            
         
            <table id="data-table">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Assistance</th>
                        <th>Religion</th>
                        <th>NRC</th>
                        <th>Contact</th>
                        <th>School</th>
                        <th id="detail-btn">Details</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    <!-- Data from API will be inserted here -->
                </tbody>
            </table>
            <div id="pagination-container" class="pagination-container">
                <!-- Pagination buttons will be generated here -->
            </div>
        </div>
    </div>

    
    

    <script src="../../js/student_list/student_list.js"></script> <!-- Link to your JavaScript file -->
</body>
</html>
